
.header{    
    display: flex; 
    height: 50px;
    width: 100%;    
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
    z-index: 6;
    top:0;
    left: 0;
    position: fixed;
    justify-content: center; 
}
.headerRest{
    display: flex;  
    flex-direction: row;
    align-items: center;    
    justify-content: flex-end;
    width: 80%;
}
.headerRest__logo{
    margin-right: auto;
}
.headerRest__enter, headerRest__basket {
    margin: 10px;
}
.headerRest__enter{
    width: 78px;
    height: 40px;
    background-color: white;
    color: #1D1D1D;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}
.main{
    position: relative;
    top: 10px;
    width: 100%;  
}

.bottom{
    background-color: #262626;
    padding: 50px;
}
.bottom__logo{
    width:  190.77px;
    margin-bottom: 20px;
}

.bottom__line{
    opacity: 40%;
}
.info-bottom{
    display: grid;
    grid-template-areas: "language      link1 link4"
                         "name          link2 link5"
                         "socialNetwork link3 link6"
                         "socialNetwork .     link7";
    grid-template-rows: repeat(4, 1fr);
}
.colorGreen{
    color: #49A144;
}
.info-bottom__link, .personality-bottom__link{
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: white;
}

.personality-bottom__link {    
    font-size: 11px;    
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    margin: 10px;
    }

.language-info-bottom{
     position: relative;
 }   
.language-info-bottom__img{
    position: absolute;
    top: 12px;
    left: 10px;
}
.language-info-bottom__select{
    box-sizing: border-box;
    grid-area: language;
    height: 40px;
    width: 200px;
    left: 81px;
    top: 1617px;
    border-radius: 2px;
    background: #3B3B3B;
    color: white;
    text-align-last:center;
}
.info-bottom__name{
    grid-area: name;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
 }
 .socialNetwork-info-bottom{
    grid-area: socialNetwork;
 }
 .info-grid__link1{
     grid-area: link1;
 }
 .info-grid__link2{
    grid-area: link2;
}
.info-grid__link3{
    grid-area: link3;
}
.info-grid__link4{
    grid-area: link4;
}
.info-grid__link5{
    grid-area: link5;
}
.info-grid__link6{
    grid-area: link6;
}
.info-grid__link7{
    grid-area: link7;
}

.store-bottom
{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.store-bottom__img{
    height: 38.25px;
    width: auto;
    margin: 5px;
}

.personality-bottom{
    display: flex;
    justify-content: space-around;
}

.button__up{
    position: fixed;
    width: 80px;
    height: 80px;
    background-color: #59BD5A;
    color: white;
    z-index: 7;
    bottom: 25px;
    right: 25px;
}
.item-restaurant__name{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left; 
    color:  #1D1D1D;  
}
.item-restaurant__food{    
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;  
    color: #626262;
}
.item-restaurant__time{
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color:  #1D1D1D;    
}

.info{
    background-image: url("image/pushkin/pushkin.png");
    height: 364px;
	margin: 72px auto 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-info{
    position: relative;
    background-color: white;
    height: 204px;    
    left: 81px;
    top: 80px;
    border-radius: 2px;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}
.box-info__name{
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    color: #1D1D1D;
    margin: 10px;
}
.box-info__food{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    padding: 10px;
    color: #626262;
    margin: 10px;
}
.box-info__time{
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;       
    color: white;
    background: #262626;
    border-radius: 16px;
    height: 1em;
    padding: 10px;
    margin: 10px;
    justify-self: self-end;
}
.filtr{
    display: flex;
    flex-direction: row;
}
.filtr__name{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;     
    margin: 40px; 
}
.filtr__name:active{
    color: #327430;
}
.filtr__nameCheck{
    color: #327430;
}

.appetizers-filtr{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.item-appetizers-filtr{
    display:grid;
    margin: 15px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    width: 470px;    
    border:1px solid rgba(117, 117, 117, 0.2);
    padding-left: 10px;
}
.item-appetizers-filtr__name{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #1D1D1D;
}
.item-appetizers-filtr__price{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #1D1D1D;
    }
.item-appetizers-filtr__img{
    width: 170px;
    height: 160px;
    grid-column: 2;
    grid-row: 1 / span 2;
}
@media screen and (min-width: 768px){
    .box-info{ 
        width: 389px;     
    }
}

@media screen and (max-width: 768px){
    .box-info{
        width: 432px;       
    }
    .appetizers-filtr{
        grid-template-columns: 1fr;
    }
    .filtr__name{
        margin-left: 0px;
    }
}

@media screen and (max-width: 320px){    
    .info-bottom{
        grid-template-areas: "language"
                             "name"
                             "socialNetwork"
                             "link1"
                             "link2"
                             "link3"
                             "link4"
                             "link5"
                             "link6"
                             "link7"
                             ".";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10,1fr);
    }
    .store-bottom__img{
        height: 34.43px;
        width: auto;
    }
    .personality-bottom{
        display: flex;
        flex-direction: column;        
    }
    .button__up{
        width: 64px;
        height: 64px;
    }
    .info{
        height: 364px;
	    margin: 72px auto 0;
        left: 0px;
        top: 72px;
        border-radius: 0px;
    }
    .box-info{
        height: 180px;
        width: 300px;
        left: 0px;
        top: 160px;
    }
    .appetizers-filtr{
        grid-template-columns: 1fr;
    }
    .item-appetizers-filtr__name{
        font-size: 14px;
    }
    .item-appetizers-filtr__img{
        width: 102px;
        height: 102px;
    }
    .item-appetizers-filtr{   
        width: 250px;     
        grid-template-columns: 1fr 1fr;
        padding-left: 0px;
        border:none;
        border-bottom: 1px solid rgba(117, 117, 117, 0.2);;
    }
    .filtr__name {
        display: none;
    }
    .filtr__nameCheck{
        display: inline;
    }
    .headerRest__basket{
        display: none;
    }
    
    
}
